.UserPage{
    margin: 10vh 15%;
    border-radius: 3px;
    box-shadow: 0 3px 2px #777;
    display: flex;
    justify-content: flex-start;
}

.Settings{
   flex-grow: 1;
   padding: 1rem 10vw;
}

.PasswordChange{
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.AccountSetting{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hr{
    height: 1rem;
	border: 0;
    box-shadow: 0 1rem 1rem -1rem #8c8b8b inset;
}

.AvatarChange{
    padding: 5rem 0;
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 0 0 25%;
}

.avatar{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    cursor: pointer;
}

.name{
    color: white;
    width: 100px;
    word-break: break-all;
}

.locationCard{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 15rem;
}

.locationCard img{
    border-radius: .5rem;
}

.locationCard:not(:last-of-type){
    border-bottom: 1px solid grey;
}

.notFound{
    text-align: center;
}

.pendingCount{
    border: 1px solid #DC143C;
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: 50%;
    background-color: #DC143C;
}