.UserPage{
    margin: 10vh 20vw;
    border-radius: 3px;
    box-shadow: 0 3px 2px #777;
    display: flex;
    justify-content: flex-start;
}

.Settings{
   flex-grow: 1;
   padding: 1rem 10vw;
}

.PasswordChange{
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.AccountSetting{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hr{
    height: 1rem;
	border: 0;
    box-shadow: 0 1rem 1rem -1rem #8c8b8b inset;
}

.AvatarChange{
    min-width: 10vw;
    padding: 5rem 2rem;
    background: #0f2027;
    background: linear-gradient(to left, #0f2027, #203a43, #2c5364);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.avatar{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    cursor: pointer;
}

.name{
    color: white;
    width: 100px;
    word-break: break-all;
}